<mat-form-field>
    <mat-label>Início</mat-label>
    <mat-select>
        @for (topping of horarios; track topping) {
        <mat-option [value]="topping">{{topping}}</mat-option>
        }
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Término</mat-label>
    <mat-select>
        @for (topping of horarios; track topping) {
        <mat-option [value]="topping">{{topping}}</mat-option>
        }
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Selecione o cliente</mat-label>
    <mat-select>
        @for (topping of clients; track topping) {
        <mat-option [value]="topping">{{topping}}</mat-option>
        }
    </mat-select>
</mat-form-field>


<button mat-stroked-button>Salvar</button>

<mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>
<p>Selected date: {{selected()}}</p>