.mat-form-field-container {
  display: flex;
  gap: 20px;

  mat-form-field {
    background-color: #2C3A45;

    mat-label {
      color: #F6FCFE;
    }

    mat-select {
      color: #F6FCFE;
    }
  }
}

.clendar-container {
  display: flex;
  justify-content: center;
  padding: 20px;

  .demo-inline-calendar-card {
    width: 300px;
  }
}


.button-container {
  display: flex;
  justify-content: center;
}

// Cor do texto no campo de input do component autocomplet
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #F6FCFE !important;
}

// Cor da borda inferior dos campos do formulário
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: white !important;
}