.mat-form-field-container {
  width: 212px;

  mat-form-field {
    display: flex;

    margin: 0 0 10px 0;
    border-radius: 22px;
    background-color: #2C3A45;

    mat-label {
      color: #F6FCFE;
    }

    input{
      color: #F6FCFE !important;
    }

    mat-select {
      color: #F6FCFE;
    }
  }
}

.calendar-container {
  padding: 0 0 0px 20px;

  .demo-inline-calendar-card {
    width: 435px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;

    .button {
      background-color: #192531;
      color: #F5F7F9;
    }
  }
}

// Cor do arrow svg
::ng-deep .mat-mdc-select-arrow svg {
  fill: white !important;
}

// Cor da borda no dia selecionado
::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: #2C3A45 !important;
}

// Estilos do body no dia selecionado
::ng-deep .mat-calendar-body-selected {
  background-color: #2C3A45 !important;
  color: #F6FCFE !important;
}

// Cor da borda inferior dos campos do formulário
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: white !important;
}

