mat-card {
    max-width: 400px;
    background-color: #CACED1;

    mat-card-content {
        display: flex;
        justify-content: center;

        h2 {
            color: #0B1124;
        }
    }
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}