<div class="schedule-panel-container">
    <div class="schedule-card-container">
        <div class="card-container">
            <app-schedule-card></app-schedule-card>
        </div>
        <div class="schedule-container">
            <app-schedule></app-schedule>
        </div>
        <!-- <img src="/assets/comb.png"/> -->
    </div>

    <section>
        <header>
            <h3>Visualize todos os agendamentos</h3>
        </header>
        <app-schedule-table></app-schedule-table>
    </section>
</div>