/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    background-color: #D8DAD9;
}

/* Remove a cor de fundo inicial do campo preenchido */
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
}

/* Remove a cor de fundo ao focar ou passar o mouse */
.mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
}
